.logo{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    vertical-align: center;
}
img{
    height: 80px;
}
.about{
    /* float:flex; */
    text-align: center;
    /* margin-left: 40%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
hr{
    margin-top:6rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1);
    width: 500px;
}
dl{
    margin-top:0;
    margin-bottom:1rem
}
dt{
    font-weight:700
}
dd{
    margin-bottom:.5rem;
    margin-left:0
}