.logo{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    vertical-align: center;
}
img{
    height: 80px;
}
.about{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
hr{
    margin-top:6rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1);
    width: 500px;
}
dl{
    margin-top:0;
    margin-bottom:1rem
}
dt{
    font-weight:700
}
dd{
    margin-bottom:.5rem;
    margin-left:0
}
.container{
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color:rgb(191, 137, 242);
    margin-top:5%;
    text-align: center;
}
#login_form{
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;   
}
.jump{
    text-align: center;
}
#user_form{
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;   
}
label{
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    display: inline-block;
    text-align: right;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-top: -5px;
}
input{
    width: 250px;
    margin: 8px;
    border: 1px solid #ccc; 
    padding: 3px 0px;
    border-radius: 3px;
    padding:5px;
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 800;
    margin-top: 20px;
    border: 2px solid rgb(191, 137, 242); 
    padding: 3px 0px;
    border-radius: 3px;
    padding-left:5px; 
    width: 405px;
    height: 40px;
    background-color: white;
    color:rgb(191, 137, 242);
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: rgb(191, 137, 242);
}