.container{
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color:rgb(191, 137, 242);
    margin-top:5%;
}
#login_form{
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;   
}
input{
    width: 250px;
    margin: 8px;
    border: 1px solid #ccc; 
    padding: 3px 0px;
    border-radius: 3px;
    padding:5px;
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 800;
    margin-top: 20px;
    border: 2px solid rgb(191, 137, 242); 
    padding: 3px 0px;
    border-radius: 3px;
    padding-left:5px; 
    width: 405px;
    height: 40px;
    background-color: white;
    color:rgb(191, 137, 242);
}