.main{
    font-family: 'Courier New', Courier, monospace;
    overflow:auto;
    margin-left:5%;
    margin-right:5%;
    margin-top: 10px;
}
.detail{
    overflow: auto;
}
.left{
    float:left;
    width: 70%;
}
.name{
    width: 100%;
    display:table;
    float:left;
}
h2{
    width: 80%;
    display:table-cell;
    float:left;
}
.f{
    width: 20%;
    display: table-cell;
}
.name label {
    float:left;
    font-family: 'FontAwesome';
    color: #fca757;
    font-size: large;
}
.name .f1{
    float:left;
    border: 1px solid rgb(191, 137, 242); 
    border-radius: 3px;
    padding:3px;
    width: 80px;
    background-color: white;
    color:rgb(191, 137, 242);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.name .f2{
    float:left;
    border: 1px solid lavender; 
    border-radius: 3px;
    padding:3px;
    width: 80px;
    display:table-cell;
    color: rgb(144, 39, 242);
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.followed:before{
    content:"\f004";
}
.unfollowed:before{
    content:"\f08a";
}

.comline{
    display: table;
    width: 100%;
}
.item-rate{
    width: 150px;
    display: table-cell;
}
.comcount{
    display: table-cell;
    float:left;
    margin-bottom: 10px;
    color: #fca757;
    font-weight: bold;
}

.price{
    margin-top: 5px;
    font-size: 18px;
}
.contact{
    font-size: 18px;
}
.open{
    font-size: 18px;
}
.address{
    font-size: 18px;
}
.fa-money:before{
    font-family: 'FontAwesome';
    content:"\f0d6";
}
.fa-phone-square:before{
    font-family: 'FontAwesome';
    content:"\f098";
}
.fa-clock-o:before{
    font-family: 'FontAwesome';
    content:"\f017";
}
.fa-map-marker:before{
    font-family: 'FontAwesome';
    content:"\f041";
}
.right{
    float:right;
}
.promopic{
    float:right;
    width:330px;
}
.services{
    margin-top: 20px;
}
.container{
    float: left;
}
.col-lg-auto{
    border:2px solid white;
    box-shadow: 0 2px 2px lavender;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 18%;
}
.col-lg-auto:hover{
    box-shadow: 0 0 10px lavender;
    border:2px solid lavender;
    transform: translate(0,-1%);
}
.sp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left:-15px;
}
.service_name{
    color:black;
    font-size: 16px;
}
.service_price{
    color:black;
    font-size: 14px;
    margin-top:10px;
}
.comment{
    margin-top: 30px;
    width:100%;
    float:left;
}
.subtopic{
    margin-top:20px;
    display: table;
}
.subtopic > h4{
    display: table-cell;
}
.mac{
    color:rgb(191, 137, 242);
    border: 1px solid rgb(191, 137, 242); 
    padding:5px;
    background-color: white;
    border-radius: 3px;
    width: 200px;
    height: 35px;
    margin-bottom: 12px;
    cursor:pointer;
    display: table-cell;
    margin-left: 20px;
}
.mac:hover{
    color: white;
    background-color: rgb(191, 137, 242);
}
.cl{
    color:rgb(191, 137, 242);
    border: 0.6px solid rgb(191, 137, 242); 
    padding:5px;
    background-color: white;
    border-radius: 3px;
    width: 300px;
    height: 35px;
    margin-bottom: 12px;
    cursor:pointer;
    display: table-cell;
    margin-left: 20px;
}
.cmf{
    margin-top:20px;
    margin-bottom:20px;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}
.cmf input{
    border: 1px solid lavender; 
    border-radius: 3px;
    padding:5px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.cmf label{
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}
textarea{
    width: 800px;
    height: 100px;
    text-align: left;
    border:solid 1px lavender;
    border-radius: 5px;
    padding: 10px;
    color:rgb(144, 39, 242);
}
textarea::placeholder{
    color: rgb(191, 137, 242);
    font-style: italic;
}
.submit1{
    border: 1px solid lavender; 
    border-radius: 3px;
    padding:5px;
    width: 100px;
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(191, 137, 242);
    margin-right: 10px;
    cursor:pointer;
}
.submit1:hover{
    color: white;
    background-color: rgb(191, 137, 242);
}
.submit2{
    border: 1px solid lavender; 
    border-radius: 3px;
    padding:5px;
    width: 100px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(208, 167, 245);
    margin-right: 10px;
    cursor:pointer;
}
.submit2:hover{
    color: white;
    background-color: rgb(191, 137, 242);
}
.comment-item{
    -webkit-line-clamp: 2;
    font-family: 'Courier New', Courier, monospace;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.avatar{
    width: 5%;
    display:table-cell;
}
.ava{
    border-radius: 50%;
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}
.comright{
    display: table-cell;
    width: 95%;
}
.user{
    font-weight: bold;
    font-size: 14px;
    vertical-align: top;
}
.content{
    margin-top: -10px;
}
#tags {
    float: left;
    background-color: #fff9e8;
    color: #fe9b3e;
    width: 140px;
    margin: 0 6px 0 0;
    padding: 6px 0 6px 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -10px;
}
.datetime{
    clear:both;
    font-size:12px;
    color: rgb(191, 137, 242);
}
.remind{
    margin-top:20px;
    font-size: large;
    color:rgb(208, 167, 245);
    font-weight: bold;
    font-style: italic;
}
.star-rate {
    font-family: 'FontAwesome';
}

.star-rate > fieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: inline;
}

.star-rate > fieldset > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 150%;
    color: #fca757;
}
.star-rate > fieldset:not(:checked) > label:hover,
.star-rate > fieldset:not(:checked) > label:hover ~ label {
    color: #fca757;
    text-shadow: 0 0 3px #fca757;
}
.star-rate > fieldset:not(:checked) > label:hover:before,
.star-rate > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
}
.star-rate > fieldset > label:before {
    content: '\f006  ';
}
.star-rate > fieldset > label.rated:before {
    content: '\f005  ';
}