<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <title>
        Salonrate -{% block title_block %}Welcome to the Salonrate!{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://s1.pstatp.com/cdn/expire-1-M/font-awesome/4.6.0/css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% block css_block %}
    {% endblock %}
</head>

<body>
<div class="result-header">
    <a href="{% url 'salonrate:homepage' %}"><img class="logo-img" src="{% static 'images/logo.png' %}"
                                                alt="Salonrate Logo"></a>
    <div class="search-box">
        <ul class="search-switch" id="test">
            <li class="selected">Salon</li>
            <li>Service</li>
        </ul>
        <form id="search-form" action='{% url "salonrate:search_result" %}' method="post">
            {% csrf_token %}
            <div class="search-area">
                <label>
                    <input class="dynamic-scope" name="scope" hidden value="salon">
                    <input class="search-txt" type="text" placeholder="Search for salon or service" name="keyword">
                </label>
                <a class="search-btn" type="submit">
                    <img class="search-img" src="{% static 'images/search.png' %}" alt="Q">
                </a>
            </div>
        </form>
    </div>
    <div class="my-center">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if user.is_authenticated %}
                    {% if user.userprofile.avatar %}
                        {% if user.userprofile.avatar.url %}
                        <img class='me-img' src="{{ user.userprofile.avatar.url }}" alt="Avatar" />
                        {% endif %}
                    {% else %}
                    <img class="me-img" src="{% static 'images/me.png' %}" alt="My logo">
                    {% endif %}
                    <a>{{ user.username }}</a>
                {% else %}
                    <img class="me-img" src="{% static 'images/me.png' %}" alt="My logo">
                    <a>My Account</a>
                {% endif %}
            </a>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li class="menu"><a href="{% url 'salonrate:logout' %}">Logout</a></li>
                <li class="menu"><a href="{% url 'salonrate:profile' %}">Profile</a> </li>
                {% else %}
                <li class="menu"><a href="{% url 'salonrate:login' %}">Login</a></li>
                <li class="menu"><a href="{% url 'salonrate:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </li>
    </div>
</div>
<hr/>
<div class="main">
    {% block body_block %}
    {% endblock %}
</div>
<div class="about">
    <hr/>
    <dl>
        <dt>· About Us: IT-17 ·</dt>
        <br />
        <dd>2589587C · Cui, Chong</li>
        <dd>2647735Y · Ying, Heting</li>
        <dd>2590260Y · Yang, Suiyi</li>
        <dd>2612713X · Xiong, Yipeng</li>
        <dd>2492428V · Varadhan, Reetu Thillai</li>
    </dl>
</div>
</body>
</html>