{% extends 'salonrate/base_lr.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'salonrate:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'salonrate:login' %}">Login</a></li>
        <li><a href="{% url 'salonrate:register' %}">Register</a></li>
        {% endif %}
        <li><a href="{% url 'salonrate:search' %}">Search</a></li>
        <li><a href="{% url 'salonrate:service_detail' %}">Service Detail</a></li>
    </ul>
</div>
{% endblock %}