{% extends 'salonrate/base_lr.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login to Salonrate</h1>
    </div>
</div>

<div class="container">
<form id="login_form" method="post" action="{% url 'salonrate:login' %}">
    {% csrf_token %}
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="id_username" class="form-control"
           placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control"
           placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"
            value="Submit">Sign in</button>
</form>
</div>
{% endblock %}