{% extends 'salonrate/base_lr.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block style_block %}
<style>
    .container{
        text-align: center;
    }
    h1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
        color:rgb(191, 137, 242);
        margin-top:5%;
    }
    #login_form{
        margin-top:10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: 500;   
    }
    input{
        width: 250px;
        margin: 8px;
        border: 1px solid #ccc; 
        padding: 3px 0px;
        border-radius: 3px;
        padding:5px;
        background-color: lavender;
        font-family: 'Courier New', Courier, monospace;
    }
    .btn{
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: 800;
        margin-top: 20px;
        border: 2px solid rgb(191, 137, 242); 
        padding: 3px 0px;
        border-radius: 3px;
        padding-left:5px; 
        width: 405px;
        height: 40px;
        background-color: white;
        color:rgb(191, 137, 242);
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <h1>Welcome to Salonrate!</h1>
    <form id="login_form" method="post" action="{% url 'salonrate:login' %}">
        {% csrf_token %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control"
            placeholder="Enter username" required autofocus><br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control"
            placeholder="Enter password" required><br />
        <button class="btn" type="submit"
                value="Submit">Sign in</button><br />
        <a href="{% url 'salonrate:register' %}"><button class="btn" type="button">Don't have an account? Register first!</button></a>
    </form>
</div>
{% endblock %}