{% extends 'salonrate/base_lr.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="container">
    <h1>Welcome to Salonrate!</h1>
    <form id="login_form" method="post" action="{% url 'salonrate:login' %}">
        {% csrf_token %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control"
            placeholder="Enter username" required autofocus><br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control"
            placeholder="Enter password" required><br />
        <button class="btn" type="submit"
                value="Submit">Sign in</button><br />
        <a href="{% url 'salonrate:register' %}"><button class="btn" type="button">Don't have an account? Register first!</button></a>
    </form>
</div>
{% endblock %}