{% extends 'salonrate/base_lr.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
{% if registered %}
<h1>Thank you for registering!</h1>
<div class="jump"><a href="{% url 'salonrate:login' %}"><button class="btn" type="button">Click Here to Sign in!</button></a></div>
{% else %}
<div class="container">
    <h1>Register</h1>
    <form id="user_form" method="post" action="{% url 'salonrate:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}<br />
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        {% for field in profile_form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}<br />
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <button class="btn" type="submit" value="Submit">Register</button><br />
        <a href="{% url 'salonrate:login' %}"><button class="btn" type="button">Already have an account? Sign in!</button></a>
    </form>
</div>
{% endif %}
{% endblock %}