{% extends 'salonrate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Service Detail
    <!-- Can be replaced by the service name later-->
{% endblock %}
{% block css_block %}
<style>
    .main{
        overflow:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top: 10px;
    }
    .detail{
        overflow: auto;
    }
    .left{
        float:left;
        width: 48%;
        height: 30vh;
    }
    .right{
        float:right;
        width: 48%;
    }
    .promopic{
        float:right;
        height: 31vh;
        border:2px;
    }
    .comment{
        margin-top: 1px;
        width:auto;
        float:left;
    }
    .cmf{
        /* border: 1px solid #ccc; 
        padding: 3px 0px;
        border-radius: 3px;
        padding:5px; */
        font-family: 'Courier New', Courier, monospace;
    }
    input{
        border: 1px solid lavender; 
        padding: 3px 0px;
        border-radius: 3px;
        padding:5px;
        /* background-color: lavender; */
        font-family: 'Courier New', Courier, monospace;
    }
    .submit{
        border: 1px solid #ccc; 
        padding: 3px 0px;
        border-radius: 3px;
        padding:5px;
        background-color: lavender;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 10px;
    }
    .comment-item{
        -webkit-line-clamp: 2;
        font-family: 'Courier New', Courier, monospace;
    }
    .avatar{
        height: 18px;
        width: 16px;
        float: left;
    }
    .ava{
        width: 100%;
        display:block;
    }
    .user{
        float:left;
    }
    .content{
        font-family: 'Courier New', Courier, monospace;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="main">
    <div class="detail">
        <div class="left">
            <div class="back"><a href="{% url 'salonrate:salon' %}">{{ service.salon_id.salon_name }}</a></div>
            <div class="name"><h1>{{ service.service_name }}</h1></div>
            <div class="item-rate">
                <fieldset>
                    <input type="radio" id="star5" name="rating" value="5"/><label for="star5" title="Outstanding">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"/><label for="star4" title="Very Good">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3"/><label for="star3" title="Good">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2"/><label for="star2" title="Poor">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1"/><label for="star1" title="Very Poor">1 star</label>
                </fieldset>
            </div>
            <div class="comcount">{{ comment_count }} Comments</div>
            <div class="price">Price: £ {{ service.service_price }}</div>
            {% if tags %}
            <ul class="item-tags">
                {% for tag in tags %}
                <li>{{ tag }}</li>
                {% endfor %}
                <h5>No Tags</h5>
            </ul>
            {% endif %}
        </div>
        <div class="right">
            {% if service.service_type == 0 %}
            <img class="promopic" src="{% static 'images/wash.png' %}" alt="wash_img" />
            {% elif service.service_type == 1 %}
            <img class="promopic" src="{% static 'images/cut.jpeg' %}" alt="cut_img" />
            {% elif service.service_type == 2 %}
            <img class="promopic" src="{% static 'images/dye.jpeg' %}" alt="dye_img" />
            {% elif service.service_type == 3 %}
            <img class="promopic" src="{% static 'images/perm.jpg' %}" alt="perm_img" />
            {% elif service.service_type == 4 %}
            <img class="promopic" src="{% static 'images/care.jpeg' %}" alt="care_img" />
            {% else %}
            <img class="promopic" src="{% static 'images/item.png' %}" alt="care_img" />
            {% endif %}
        </div>
    </div>
    <div class="comment">
        <div class="subtopic"><h2>Make Comments</h2></div>
        <form class="cmf" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="submit" type="submit" value="Comment" />
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment-item">
            {% if comment.username.avatar %}
            <div class="avatar"><img class='ava' src={{ comment.username.avatar }} alt="Avatar" /></div>
            {% else %}
            <div class="avatar"><img class='ava' src="{% static 'images/me.png' %}" alt="Avatar" /></div>
            {% endif %}
            <div class="user">{{ comment.username.username }} {{ comment.comment_time }}</div><br />
            <div class="content">{{ comment.comment }}</div><br />
        </div>
        
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}