{% extends 'salonrate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Service Detail - {{ service.service_name }}
{% endblock %}
{% block css_block %}
<style>
    .main{
        font-family: 'Courier New', Courier, monospace;
        overflow:auto;
        margin-left:5%;
        margin-right:5%;
        margin-top: 10px;
    }
    .detail{
        overflow: auto;
    }
    .left{
        float:left;
        width: 70%;
        height: 250px;
    }
    .rating {
        font-family: 'FontAwesome';
        margin: -1% 0 -1% 0;
    }

    .rating > fieldset {
        padding: 0;
        margin: 0;
        border: none;
        display: inline;
    }

    .rating > fieldset > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 150%;
        color: #fca757;
    }
    .rating > fieldset > label:before {
        content: '\f006  ';
    }
    .rating > fieldset > label.rated:before {
        content: '\f005  ';
    }
    .price{
        font-size: 20px;
        margin-top: 20px;
    }
    .fa-money:before{
        font-family: 'FontAwesome';
        content:"\f0d6";
    }
    .comline{
        width: 100%;
    }
    .item-rate{
        width: 200px;
        display: table-cell;
    }
    .comcount{
        color: #fca757;
        margin-top: -10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .right{
        float:right;
        width: 30%;
    }
    .promopic{
        float:right;
        height: 31vh;
        border:2px;
    }
    .comment{
        margin-top: 20px;
        width:100%;
        float:left;
    }
    .subtopic{
        display:table;
    }
    h4{
        display:table-cell;
    }
    .mac{
        color:rgb(191, 137, 242);
        border: 0.6px solid rgb(191, 137, 242); 
        padding:5px;
        background-color: white;
        border-radius: 3px;
        width: 200px;
        height: 35px;
        margin-left: 12px;
        cursor:pointer;
        display:table-cell;
    }
    .cl{
        color:rgb(191, 137, 242);
        border: 0.6px solid rgb(191, 137, 242); 
        padding:5px;
        background-color: white;
        border-radius: 3px;
        width: 300px;
        height: 35px;
        margin-left: 12px;
        cursor:pointer;
        display:table-cell;
    }
    .cmf{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Courier New', Courier, monospace;
        display: none;
    }
    .star-rate {
        font-family: 'FontAwesome';
    }

    .star-rate > fieldset {
        padding: 0;
        margin: 0;
        border: none;
        display: inline;
    }

    .star-rate > fieldset > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 150%;
        color: #fca757;
    }
    .star-rate > fieldset:not(:checked) > label:hover,
    .star-rate > fieldset:not(:checked) > label:hover ~ label {
        color: #fca757;
        text-shadow: 0 0 3px #fca757;
    }
    .star-rate > fieldset:not(:checked) > label:hover:before,
    .star-rate > fieldset:not(:checked) > label:hover ~ label:before {
        content: '\f005  ';
    }
    .star-rate > fieldset > label:before {
        content: '\f006  ';
    }
    .star-rate > fieldset > label.rated:before {
        content: '\f005  ';
    }
    
    input{
        border: 1px solid lavender; 
        border-radius: 3px;
        padding:5px;
        /* background-color: lavender; */
        font-family: 'Courier New', Courier, monospace;
        }
    label{
        cursor: pointer;
        vertical-align: middle;
        margin-right: 10px;
    }
    textarea{
        width: 800px;
        height: 100px;
        text-align: left;
        border:solid 1px lavender;
        border-radius: 5px;
        padding: 10px;
        color:rgb(144, 39, 242);
    }
    textarea::placeholder{
        color: rgb(191, 137, 242);
        font-style: italic;
    }
    .submit{
        border: 1px solid lavender; 
        border-radius: 3px;
        padding:5px;
        background-color: lavender;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(191, 137, 242);
        margin-bottom: 10px;
        cursor:pointer;
    }
    .comment-item{
        -webkit-line-clamp: 2;
        font-family: 'Courier New', Courier, monospace;
        display: table;
        width: 100%;
        margin-bottom: 20px;
    }
    .avatar{
        width: 5%;
        display:table-cell;
    }
    .ava{
        border-radius: 50%;
        width: 6vmin;
        height:6vmin;
        object-fit: cover;
        object-position: center;
    }
    .comright{
        display: table-cell;
        width: 95%;
    }
    .user{
        font-weight: bold;
        font-size: 14px;
        vertical-align: top;
    }
    .content{
        margin-top: -10px;
    }
    #tags {
        float: left;
        background-color: #fff9e8;
        color: #fe9b3e;
        width: 140px;
        margin: 0 6px 0 0;
        padding: 6px 0 6px 0;
        text-align: center;
        font-size: 12px;
        /* font-style: italic; */
        font-weight: bold;
        margin-top: -10px;
    }
    .datetime{
        clear:both;
        font-size:12px;
        /* color:rgb(208, 167, 245); */
        color: rgb(191, 137, 242);
    }
    .remind{
        margin-top:20px;
        font-size: large;
        color:rgb(208, 167, 245);
        font-weight: bold;
        font-style: italic;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="main">
    <div class="detail">
        <div class="left">
            <div class="back"><a href="{% url 'salonrate:salon' service.salon_id.slug %}">{{ service.salon_id.salon_name }}</a></div>
            <div class="name"><h2>{{ service.service_name }}</h2></div>
            {% if comments %}
            <div class="comline">
                <div class="item-rate">
                    <fieldset>
                        {% if service.rate > 4 %}
                        <label class="star4 rated" title="Outstanding">5 stars</label>
                        {% else %}
                        <label class="star4" title="Outstanding">5 stars</label>
                        {% endif %}

                        {% if service.rate > 3 %}
                        <label class="star3 rated" title="Very Good">4 stars</label>
                        {% else %}
                        <label class="star3" title="Very Good">4 stars</label>
                        {% endif %}

                        {% if service.rate > 2 %}
                        <label class="star2 rated" title="Good">3 stars</label>
                        {% else %}
                        <label class="star2" title="Good">3 stars</label>
                        {% endif %}

                        {% if service.rate > 1 %}
                        <label class="star1 rated" title="Poor">2 stars</label>
                        {% else %}
                        <label class="star1" title="Poor">2 stars</label>
                        {% endif %}

                        {% if service.rate > 0 %}
                        <label class="star0 rated" title="Very Poor">1 star</label>
                        {% else %}
                        <label class="star0" title="Very Poor">1 star</label>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="comcount">
                    {{ comment_count }} 
                        {% if comment_count == 1 %}
                        Comment
                        {% else %}
                        Comments
                        {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="price"><label class="fa-money"></label>Price: £ {{ service.service_price }}</div>
        </div>
        <div class="right">
            {% if service.service_type == 0 %}
            <img class="promopic" src="{% static 'images/wash.png' %}" alt="wash_img" />
            {% elif service.service_type == 1 %}
            <img class="promopic" src="{% static 'images/cut.jpeg' %}" alt="cut_img" />
            {% elif service.service_type == 2 %}
            <img class="promopic" src="{% static 'images/dye.jpeg' %}" alt="dye_img" />
            {% elif service.service_type == 3 %}
            <img class="promopic" src="{% static 'images/perm.jpg' %}" alt="perm_img" />
            {% elif service.service_type == 4 %}
            <img class="promopic" src="{% static 'images/care.jpeg' %}" alt="care_img" />
            {% else %}
            <img class="promopic" src="{% static 'images/item.png' %}" alt="care_img" />
            {% endif %}
        </div>
    </div>
    <hr />
    <div class="comment">
        <div class="subtopic">
            <h4>· Comments on Service ·</h4>
            {% if user.is_authenticated %}
            <button class="mac" id="mac">Write a Comment</button>
            {% else %}
                <a href="{% url 'salonrate:login' %}"><button class="cl">Log in to write a comment</button></a>
            {% endif %}
        </div>
        <form class="cmf" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="star-rate">
                <fieldset>
                    <label class="star4" title="Outstanding">5</label>
                    <label class="star3" title="Very Good">4</label>
                    <label class="star2" title="Good">3</label>
                    <label class="star1" title="Poor">2</label>
                    <label class="star0" title="Very Poor">1</label>
                </fieldset>
            </div>
            <p hidden>{{ form.star.label }}{{ form.star }}</p>
            <textarea type="text" name="comment" maxlength="500" required id="id_comment" placeholder="Enter your comment here. No more than 500 letters." ></textarea></p>
            <input class="submit" type="submit" value="Submit" />
            <input class="submit" type="button" value="Cancel" id="cancel" />
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment-item">
            {% if comment.username.userprofile.avatar %}
            <div class="avatar"><img class='ava' src="{{ comment.username.userprofile.avatar.url }}" alt="Avatar" /></div>
            {% else %}
            <div class="avatar"><img class='ava' src="{% static 'images/me.png' %}" alt="Avatar" /></div>
            {% endif %}
            <div class="comright">
                <div class="user">{{ comment.username.username }}</div><br />
                <div class="item-rate">
                    <fieldset>
                        {% if comment.star > 4 %}
                        <label class="star4 rated" title="Outstanding">5 stars</label>
                        {% else %}
                        <label class="star4" title="Outstanding">5 stars</label>
                        {% endif %}

                        {% if comment.star > 3 %}
                        <label class="star3 rated" title="Very Good">4 stars</label>
                        {% else %}
                        <label class="star3" title="Very Good">4 stars</label>
                        {% endif %}

                        {% if comment.star > 2 %}
                        <label class="star2 rated" title="Good">3 stars</label>
                        {% else %}
                        <label class="star2" title="Good">3 stars</label>
                        {% endif %}

                        {% if comment.star > 1 %}
                        <label class="star1 rated" title="Poor">2 stars</label>
                        {% else %}
                        <label class="star1" title="Poor">2 stars</label>
                        {% endif %}

                        {% if comment.star > 0 %}
                        <label class="star0 rated" title="Very Poor">1 star</label>
                        {% else %}
                        <label class="star0" title="Very Poor">1 star</label>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="content">{{ comment.comment }}</div><br />
                <ul class="tags">
                    {% if comment.tag_environ %}
                    <li id="tags">Nice Environment</li>
                    {% endif %}
                    {% if comment.tag_service %}
                    <li id="tags">Attentive Service</li>
                    {% endif %}
                    {% if comment.tag_cost %}
                    <li id="tags">Cost Effective</li>
                    {% endif %}
                    {% if comment.tag_skill %}
                    <li id="tags">Excellent Skill</li>
                    {% endif %}
                    {% if comment.tag_attitude %}
                    <li id="tags">Warm Attidute</li>
                    {% endif %}
                </ul><br />
                <div class="datetime">{{ comment.comment_time }}</div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="remind">Still waiting for the first comment~</div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/service.js' %}" crossorigin="anonymous"></script>
{% endblock %}