{% extends 'salonrate/base.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/service.css" />
{% endblock %}

{% block title_block %}
    Service Detail - {{ service.service_name }}
{% endblock %}

{% block body_block %}
<div class="main">
    <div class="detail">
        <div class="left">
            <div class="back"><a href="{% url 'salonrate:salon' service.salon_id.slug %}"><< {{ service.salon_id.salon_name }}</a></div>
            <div class="name"><h2>{{ service.service_name }}</h2></div>
            {% if comments %}
            <div class="comline">
                <div class="item-rate">
                    <fieldset>
                        {% if service.rate > 4 %}
                        <label class="star4 rated" title="Outstanding">5 stars</label>
                        {% else %}
                        <label class="star4" title="Outstanding">5 stars</label>
                        {% endif %}

                        {% if service.rate > 3 %}
                        <label class="star3 rated" title="Very Good">4 stars</label>
                        {% else %}
                        <label class="star3" title="Very Good">4 stars</label>
                        {% endif %}

                        {% if service.rate > 2 %}
                        <label class="star2 rated" title="Good">3 stars</label>
                        {% else %}
                        <label class="star2" title="Good">3 stars</label>
                        {% endif %}

                        {% if service.rate > 1 %}
                        <label class="star1 rated" title="Poor">2 stars</label>
                        {% else %}
                        <label class="star1" title="Poor">2 stars</label>
                        {% endif %}

                        {% if service.rate > 0 %}
                        <label class="star0 rated" title="Very Poor">1 star</label>
                        {% else %}
                        <label class="star0" title="Very Poor">1 star</label>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="comcount">
                    {{ comment_count }} 
                        {% if comment_count == 1 %}
                        Comment
                        {% else %}
                        Comments
                        {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="price"><label class="fa-money"></label>Price: £ {{ service.service_price }}</div>
        </div>
        <div class="right">
            {% if service.service_type == 0 %}
            <img class="promopic" src="{% static 'images/wash.png' %}" alt="wash_img" />
            {% elif service.service_type == 1 %}
            <img class="promopic" src="{% static 'images/cut.jpeg' %}" alt="cut_img" />
            {% elif service.service_type == 2 %}
            <img class="promopic" src="{% static 'images/dye.jpeg' %}" alt="dye_img" />
            {% elif service.service_type == 3 %}
            <img class="promopic" src="{% static 'images/perm.jpg' %}" alt="perm_img" />
            {% elif service.service_type == 4 %}
            <img class="promopic" src="{% static 'images/care.jpeg' %}" alt="care_img" />
            {% else %}
            <img class="promopic" src="{% static 'images/item.png' %}" alt="care_img" />
            {% endif %}
        </div>
    </div>
    <hr />
    <div class="comment">
        <div class="subtopic">
            <h4>· Comments on Service ·</h4>
            {% if user.is_authenticated %}
            <button class="mac" id="mac">Write a Comment</button>
            {% else %}
                <a href="{% url 'salonrate:login' %}"><button class="cl">Log in to write a comment</button></a>
            {% endif %}
        </div>
        <form class="cmf" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="star-rate">
                <fieldset>
                    <label class="star4" title="Outstanding">5</label>
                    <label class="star3" title="Very Good">4</label>
                    <label class="star2" title="Good">3</label>
                    <label class="star1" title="Poor">2</label>
                    <label class="star0" title="Very Poor">1</label>
                </fieldset>
            </div>
            <p hidden>{{ form.star.label }}{{ form.star }}</p>
            <textarea type="text" name="comment" maxlength="500" required id="id_comment" placeholder="Enter your comment here. No more than 500 letters." ></textarea></p>
            <input class="submit1" type="submit" value="Submit" />
            <input class="submit2" type="button" value="Cancel" id="cancel" />
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment-item">
            {% if comment.username.userprofile.avatar %}
            <div class="avatar"><img class='ava' src="{{ comment.username.userprofile.avatar.url }}" alt="Avatar" /></div>
            {% else %}
            <div class="avatar"><img class='ava' src="{% static 'images/me.png' %}" alt="Avatar" /></div>
            {% endif %}
            <div class="comright">
                <div class="user">{{ comment.username.username }}</div><br />
                <div class="item-rate">
                    <fieldset>
                        {% if comment.star > 4 %}
                        <label class="star4 rated" title="Outstanding">5 stars</label>
                        {% else %}
                        <label class="star4" title="Outstanding">5 stars</label>
                        {% endif %}

                        {% if comment.star > 3 %}
                        <label class="star3 rated" title="Very Good">4 stars</label>
                        {% else %}
                        <label class="star3" title="Very Good">4 stars</label>
                        {% endif %}

                        {% if comment.star > 2 %}
                        <label class="star2 rated" title="Good">3 stars</label>
                        {% else %}
                        <label class="star2" title="Good">3 stars</label>
                        {% endif %}

                        {% if comment.star > 1 %}
                        <label class="star1 rated" title="Poor">2 stars</label>
                        {% else %}
                        <label class="star1" title="Poor">2 stars</label>
                        {% endif %}

                        {% if comment.star > 0 %}
                        <label class="star0 rated" title="Very Poor">1 star</label>
                        {% else %}
                        <label class="star0" title="Very Poor">1 star</label>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="content">{{ comment.comment }}</div><br />
                <div class="datetime">{{ comment.comment_time }}</div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="remind">Still waiting for the first comment~</div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/service.js' %}" crossorigin="anonymous"></script>
{% endblock %}