{% extends 'salonrate/base.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<div class="main">
    <h1>My Profile</h1>
    <hr />
    <h2>Personal Information</h2>
    <div class="profile">
        <img id="avatar" src="{{ profile.avatar.url }}">
        <div class="info">
            <div class="text-info">
                <span id="title">Username: </span><span id="userinfo">{{user.username}}</span> <br -/>
                <span id="title">Email: </span><span id="userinfo">{{user.email}}</span> <br />
                <span id="title">Upload Your Profile Picture:</span>
                <form enctype="multipart/form-data" action="#" method="post" class="profile-picture">
                    {% csrf_token %}
                    <input type="file" name="profile_picture" accept="image/*" class="upload-btn">
                    <input type="submit" value="Upload" class="submit-btn">
                </form>
            </div>
        </div>
    </div>
    <hr />
    <h2>My Comments</h2>
    {% if comments %}
    <div class="comments">
        {% for comment in comments %}
        <div class="comment-item">
            {% if comment.service %}
            <a href="{% url 'salonrate:service' comment.service.slug %}">
            {% else %}
            <a href="{% url 'salonrate:salon' comment.salon.slug %}">
            {% endif %}
                <div class="comment-container">
                    {% if comment.service %}
                    <div class="service">
                        <div class="title">· Service:</div>
                        <span id="name">{{ comment.service.service_name }}</span>
                    </div><br />
                    
                    {% else %}
                    <div class="salon">
                        <div class="title">· Salon:</div>
                        <span id="name">{{ comment.salon.salon_name }}</span>
                    </div><br />
                    {% endif %}
                    <div class="item-rate">
                        <fieldset>
                            {% if comment.comment.star > 4 %}
                            <label class="star4 rated" title="Outstanding">5 stars</label>
                            {% else %}
                            <label class="star4" title="Outstanding">5 stars</label>
                            {% endif %}
        
                            {% if comment.comment.star > 3 %}
                            <label class="star3 rated" title="Very Good">4 stars</label>
                            {% else %}
                            <label class="star3" title="Very Good">4 stars</label>
                            {% endif %}
        
                            {% if comment.comment.star > 2 %}
                            <label class="star2 rated" title="Good">3 stars</label>
                            {% else %}
                            <label class="star2" title="Good">3 stars</label>
                            {% endif %}
        
                            {% if comment.comment.star > 1 %}
                            <label class="star1 rated" title="Poor">2 stars</label>
                            {% else %}
                            <label class="star1" title="Poor">2 stars</label>
                            {% endif %}
        
                            {% if comment.comment.star > 0 %}
                            <label class="star0 rated" title="Very Poor">1 star</label>
                            {% else %}
                            <label class="star0" title="Very Poor">1 star</label>
                            {% endif %}
                        </fieldset>
                    </div>
                    <div class="content">{{ comment.comment.comment }}</div><br />
                    <ul class="tags">
                        {% if comment.comment.tag_environ %}
                        <li id="tags">Nice Environment</li>
                        {% endif %}
                        {% if comment.comment.tag_service %}
                        <li id="tags">Attentive Service</li>
                        {% endif %}
                        {% if comment.comment.tag_cost %}
                        <li id="tags">Cost Effective</li>
                        {% endif %}
                        {% if comment.comment.tag_skill %}
                        <li id="tags">Excellent Skill</li>
                        {% endif %}
                        {% if comment.comment.tag_attitude %}
                        <li id="tags">Warm Attidute</li>
                        {% endif %}
                    </ul>
                    <div class="datetime"> {{ comment.comment.comment_time }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="remind">No Comments Yet~</div>
    {% endif %}
    <hr />

    <h2>My Follows</h2>
    {% if follows %}
    <dl class="follows">
    {% for follow in follows %}
        <div class="salon-item">
            <a href="{% url 'salonrate:salon' follow.salon_id.slug %}">
            
                <img id="salon_img" src="{{ follow.salon_id.image.url }}">
                <dd class="salon-name">{{ follow.salon_id.salon_name }}</dd>
            </a>
        </div>
    {% endfor %}
    </dl>
    {% else %}
    <div class="remind">No Follows Yet~</div>
    {% endif %}
    <div class="clear-float"></div>
    
</div>

{% endblock %}